<h1>{{title}}</h1>
<div class="grid grid-pad">
  <div class="col-1-2">
    <div>
      <input type="text" placeholder="città" [(ngModel)]="city">
      <button class="btn btn-primary" (click)="OnGetForecastByName()">Cerca</button>
      <button class="btn btn-primary" (click)="OnAddFavorites()" [disabled]="error">+</button>
    </div>
    <ul class="favorites">
      <li *ngFor="let city of favorites; let i = index">
        <a role="button" (click)="OnGetForecastByID(city.id)">
          <span class="badge">&gt;</span> {{city.name}}
        </a>
        <button class="delete" title="remove from favorites"
        (click)="OnRemoveFavorite(index)">x</button>
      </li>
    </ul>
  </div>
  <div class="col-1-2">
    <div class="w-card" [hidden]="!result.id">
      <h1>{{result.city}}</h1>
      <div>
        <span class="col-1-4"><img src="http://openweathermap.org/img/w/{{result.icon}}.png" alt=""></span> 
        <span class="col-1-2"><h3>{{result.condition}}</h3></span>  
      </div>
      <br>
      <div style="clear:both">
        <span>Temperatura: {{result.temperature}}&deg;C ({{result.tempMin}}&deg;C / {{result.tempMax}}&deg;C)</span>
      </div>
    </div>
    <div *ngIf="error">
        <span>Città non trovata</span>
    </div>
  </div>
</div>
